<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
	<system.webServer>
        <!--handlers>
            <add name="SmartIHttpHandlerSync_dll" path="*.dll" verb="*" type="Shoveling2010.Server.WebLinker.Library.SmartIHttpHandlerSync" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="SmartIHttpHandlerSync_exe" path="*.exe" verb="*" type="Shoveling2010.Server.WebLinker.Library.SmartIHttpHandlerSync" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="SmartIHttpHandlerSync_dll_xml" path="*.dll.xml" verb="*" type="Shoveling2010.Server.WebLinker.Library.SmartIHttpHandlerSync" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="SmartIHttpHandlerSync_exe_xml" path="*.exe.xml" verb="*" type="Shoveling2010.Server.WebLinker.Library.SmartIHttpHandlerSync" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="SmartIHttpHandlerSync_resources_dll" path="*.resources.dll" verb="*" type="Shoveling2010.Server.WebLinker.Library.SmartIHttpHandlerSync" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers-->
        <staticContent>
          <remove fileExtension=".dll" />
          <remove fileExtension=".exe" />
          <remove fileExtension=".dll.config" />
          <remove fileExtension=".exe.config" />
          <mimeMap fileExtension=".dll" mimeType="application/x-msdownload" />
          <mimeMap fileExtension=".exe" mimeType="application/x-msdownload" />
          <mimeMap fileExtension=".dll.config" mimeType="text/xml" />
          <mimeMap fileExtension=".exe.config" mimeType="text/xml" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".config" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="Private" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>